<form class="form-inline" role="form">
	<div class="form-group">
		<label class="sr-only" for="partyName">Party name</label>
		<input type="text" class="form-control" id="partyName" placeholder="Name">
	</div>
	<div class="form-group">
		<label class="sr-only" for="phoneNumber">Phone number</label>
		<input type="password" class="form-control" id="phoneNumber" placeholder="Phone">
	</div>
	<div class="form-group">
		<label class="sr-only" for="sizeOfParty">Size of party</label>
		<input type="password" class="form-control" id="sizeOfParty" placeholder="Size of party">
	</div>
	<button class="btn btn-primary">Add Party</button>
</form>